.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;

  @media (min-width: $break-large) {
    padding: 0 5%;
  }
}

.app-store-links {
  display: flex;
}

.play-store {
  margin-left: 10px;

  img {
    width: 134px;
  }
}

.block {

  &.block--highlight {
    padding: 0 20px 20px 20px;
    background-color: $wmht-lilac;
    color: #fff;
    border: $wmht-orange 2px solid;

    a {
      color: $wmht-orange;
      &:hover {
        color: #fff;
      }
    }

    @media (max-width: $break-small) {
      padding: 0;
    }
  }

  &.block--ssn {
    margin: 40px 0;
    padding: 20px;
    background: linear-gradient(rgb(11, 155, 117), rgb(8, 96, 73));
    color: #fff;

    a {
      color: #ffde00;
    }
    @media (max-width: $break-med) {
      padding: 0;
    }
  }
}