.home-hero {
  background: #fff;
}

.home-hero_title {
  font-family: oxygen;
  color: #655a64; 
  font-size: 48px; 
  text-align: center; 
  margin: 200px 0 0 0;
}

.home-hero-sub-title {
  font-family: oxygen;
  color: #655a64; 
  font-size: 38px; 
  text-align: center; 
  margin: 0 0 200px 0;
}

