.home-hero {
  background: url(/assets/west-mids-header.png);
  height: 470px;
}

.home-hero_title {
  font-family: oxygen;
  color: #655a64; 
  text-shadow: 2px 2px 2px #fff;
  font-size: 48px; 
  margin: 0 20px;
  padding-top: 100px;
  text-align: center; 
}

