.cia-logo {
  width: 300px;
  float: right;
  margin: 15px;

  @media (max-width: $break-med) {
    float: none;
    width: 80%;
  }
}

.agc-logo {
  width: 200px;
  float: right;
  margin: 0 15px 15px 0;

  @media (max-width: $break-med) {
    float: none;
    width: 80%;
  }
}

.ssn-logo {
  width: 300px;
  float: right;
  margin: 15px;

  @media (max-width: $break-med) {
    float: none;
    width: 80%;
  }
}

.c2c-logo {
  width: 300px;
  float: right;
  margin: 15px;

  @media (max-width: $break-med) {
    float: none;
    width: 80%;
  }
}

.positive-pathways-img {
  width: 80%;
  margin: 0 auto;
  transform: translateX(10%)
}