.cia-logo {
  width: 300px;
  float: right;
  margin: 15px;

  @media (max-width: $break-med) {
    float: none;
    width: 80%;
  }
}

.ssn-logo {
  width: 300px;
  float: right;
  margin: 15px;

  @media (max-width: $break-med) {
    float: none;
    width: 80%;
  }
}

.c2c-logo {
  width: 300px;
  float: right;
  margin: 15px;

  @media (max-width: $break-med) {
    float: none;
    width: 80%;
  }
}