
// breakpoints
$break-small: 320px;
$break-med: 750px;
$break-large: 900px;

$page-width: 840px;
$padding: 10px;

// Colours
$wmht-hero-lilac: #6e646d;
$wmht-lilac: #655a64;
$wmht-orange: #e57b2b;
$wmht-grey: #515151;

// fonts
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Exo&displayL=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Oxygen:wght@400;700&display=swap');