@import 'nav';
@import 'variables';
@import 'footer';
@import 'home-hero';
@import 'cards';
@import 'typography';
@import 'block';
@import 'images';
@import 'btn';



body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
  height: 100%;
  background-color: #fff;
}

*, *::before, *::after { box-sizing: border-box }