<nav>
  <label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" />
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/commitment-to-collaborate">C2C</a></li>
    <li><a href="/give">Give</a></li>
    <li>
      <!-- First Tier Drop Down -->
      <label for="drop-1" class="toggle">Areas of Work</label>
      <a href="/areas-of-work">Areas of Work</a>
      <input type="checkbox" id="drop-1"/>
      <ul>
        <li><a href="/businesses">Businesses</a></li>
        <li><a href="/faith-and-community-groups">Faith & Community Groups</a></li>
        <li><a href="/families-and-young-people">Families & Young People</a></li>
        <li><a href="/nrpf">NRPF</a></li>
        <li><a href="/rough-sleeping">Rough Sleeping</a></li>
      </ul> 
    </li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>