{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">

  <section class="home-hero">
    <div>
      <h1 class="home-hero_title">West Midlands Combined Authority Homelessness Taskforce</h1>
    </div>
  </section>

  <section>
    <div class="block block--orange cards card-container">
    <a href="{{ .Params.ctaCards.cardOne.cardLink }}" class="card">
        <div class="card__text">
            <h3 class="card__title">Positive Pathways Model</h3>
            <p class="card__body">An explanation of the positive pathways model</p>
        </div>
      </a>
      <a href="{{ .Params.ctaCards.cardTwo.cardLink }}" class="card">
        <div class="card__text">
            <h3 class="card__title">Designing out Homelessness</h3>
            <p class="card__body">Briefing paper and toolkit</p>
        </div>
      </a>
      <a href="{{ .Params.ctaCards.cardThree.cardLink }}" class="card">
        <div class="card__text">
            <h3 class="card__title">Commitment to Collaborate</h3>
            <p class="card__body">An explanation of Commitment to Collaborate and our resources</p>
        </div>
      </a>
  </section>

  <div class="container">
    <div>
      <h1 class="h1">{{ .Params.content.heading }}</h1>
    </div>

    <section>
      <div>
        <div>
          <p>{{ partial "bodyMarkdown.html" .Params.whatIs.body }}</p>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div>
          <h3 class="h3">{{ .Params.whatHave.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.whatHave.body }}</p>
        </div>
      </div>
      <div>
        <div>
          <h3 class="h3">{{ .Params.whatAre.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.whatAre.body }}</p>
        </div>
      </div>
    </section>
    <section>
      <div>
        <h3 class="h3">{{ .Params.whoIs.heading }}</h3>
        <p>{{ partial "bodyMarkdown.html" .Params.whoIs.body }}</p>
      </div>
    </section>

  </div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
