{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">

  <div class="container">
    <div>
      <h1 class="h1">{{ .Params.content.heading }}</h1>
    </div>

    <section>
      <div>
        <div>
          <h3 class="h3">{{ .Params.whatIs.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.whatIs.body }}</p>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div>
          <h3 class="h3">{{ .Params.whatHave.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.whatHave.body }}</p>
        </div>
      </div>
      <div>
        <div>
          <h3 class="h3">{{ .Params.whatAre.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.whatAre.body }}</p>
        </div>
      </div>
    </section>

    <section class="block block--highlight">
      <div>
        <h3 class="h3">{{ .Params.howStructured.heading }}</h3>
        <p>{{ partial "bodyMarkdown.html" .Params.howStructured.body }}</p>
      </div>
    </section>
    <section>
      <div>
        <h3 class="h3">{{ .Params.whoIs.heading }}</h3>
        <p>{{ partial "bodyMarkdown.html" .Params.whoIs.body }}</p>
      </div>
    </section>

  </div>
</div>
  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}