
{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">
  <section class="container">
    <div>
      <h1 class="h1">{{ .Params.content.heading }}</h1>
      <p>{{ partial "bodyMarkdown.html" .Params.content.body }}</p>
    </div>
  </section>

  <section class="container">
    <div>
      <h2 class="h2">{{ .Params.positivePathways.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.positivePathways.body }}</p>
      <a href="/positive-pathways">Learn more</a>
    </div>
  </section>

  <section class="container">
    <div>
      <h2 class="h2">{{ .Params.desingingOutHomelessness.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.desingingOutHomelessness.body }}</p>
      <a href="/designing-out-homelessness">Learn more</a>
    </div>
  </section>

  <section class="container">
    <div>
      <h2 class="h2">{{ .Params.commitmentToCollaborate.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.commitmentToCollaborate.body }}</p>
      <a href="/commitment-to-collaborate">Learn more</a>
    </div>
  </section>

  <section class="container">
    <div>
      <h2 class="h2">{{ .Params.businesses.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.businesses.body }}</p>
      <a href="/businesses">Learn more</a>
    </div>
  </section>

  <section class="container">
    <div>
      <h2 class="h2">{{ .Params.faithAndCommunity.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.faithAndCommunity.body }}</p>
      <a href="/faith-and-community-groups">Learn more</a>
    </div>
  </section>

  <section class="container">
    <div>
      <h2 class="h2">{{ .Params.childrenFamilies.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.childrenFamilies.body }}</p>
      <a href="/families-and-young-people">Learn more</a>
    </div>
  </section>

  <section class="container">
    <div>
      <h2 class="h2">{{ .Params.nrpf.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.nrpf.body }}</p>
      <a href="/nrpf">Learn more</a>
    </div>
  </section>

  <section class="container">
    <div>
      <h2 class="h2">{{ .Params.roughSleeping.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.roughSleeping.body }}</p>
      <a href="/rough-sleeping">Learn more</a>
    </div>
  </section>

  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}