{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">
  <div class="container">
    <section>
      <div>
        <h1 class="h1">{{ .Params.content.heading }}</h1>
        <p>{{ partial "bodyMarkdown.html" .Params.content.body }}</p>
      </div>
    </section>
    
    <section>
      <div>
        <div>
          <img class="cia-logo" src="/assets/cia-logo.png" alt="change into action logo">
          <h3>{{ .Params.highlightTop.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.highlightTop.body }}</p>
        </div>
        <div>
          <img class="agc-logo" src="/assets/agc.png" alt="alternative giving cio logo">
          <h3>{{ .Params.highlightBottom.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.highlightBottom.body }}</p>
        </div>
      </div>
    </section>
    
    <section>
      <div>
        <div>
          <h3>{{ .Params.highlightLeft.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.highlightLeft.body }}</p>
        </div>
      </div>
    </section>
  </div>
</div>
  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}