{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">
  <div class="container">
    <section>
      <div>
        <h1 class="h1">{{ .Params.content.heading }}</h1>
        <p>{{ partial "bodyMarkdown.html" .Params.content.body }}</p>
      </div>
    </section>
  </div>

  <section class="block block--ssn">
    <div class="container">
      <img class="ssn-logo" src="/assets/ssn-logo-white.png" alt="street support network logo">
      <h2 class="h2">{{ .Params.ssn.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.ssn.body }}</p>
    </div>
  </section>
</div>

<div class="container">
  <section>
    <div>
      <h1 class="h2">{{ .Params.streetlink.heading }}</h1>
      <p>{{ partial "bodyMarkdown.html" .Params.streetlink.body }}</p>
      <p>Download the StreetLink app here:</p>
      <div class="app-store-links">
        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiG8-3DhvL8AhWZGMAKHS0AD9gQFnoECA8QAQ&url=https%3A%2F%2Fapps.apple.com%2Fgb%2Fapp%2Fstreetlink%2Fid587543230&usg=AOvVaw09QMRwGlVPAlwOZIUC_i4d" class="app-store">
          <img src="/assets/app-store.svg" alt="">
        </a>
        <a href="https://play.google.com/store/apps/details?id=co.uk.precedent.streetlink&hl=en_GB&gl=US&pli=1" class="play-store">
          <img src="/assets/google-play.png" alt="">
        </a>
      </div>    
    </div>
  </section>
</div>
  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}