{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">
  <div class="container">
    <section>
      <div>
        <h1 class="h1">{{ .Params.content.heading }}</h1>
        <p>{{ partial "bodyMarkdown.html" .Params.content.body }}</p>
      </div>
    </section>
  </div>

  <section class="block block--ssn">
    <div class="container">
      <img class="ssn-logo" src="/assets/ssn-logo-white.png" alt="street support network logo">
      <h2 class="h2">{{ .Params.ssn.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.ssn.body }}</p>
    </div>
  </section>
</div>

<div class="container">
  <section>
    <div>
      <h1 class="h2">{{ .Params.streetlink.heading }}</h1>
      <p>{{ partial "bodyMarkdown.html" .Params.streetlink.body }}</p>
    </div>
  </section>
</div>
  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}