{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">
  <div class="container">
    <div class="content">
      <h1 class="h1">{{ .Params.content.heading }}</h1>
      <p>{{ partial "bodyMarkdown.html" .Params.content.body }}</p>
      <h3 class="h3">{{ .Params.roughSleepingInit.heading }}</h3>
      <p>{{ partial "bodyMarkdown.html" .Params.roughSleepingInit.body }}</p>

      <div class="block block--highlight block--highlight-grey">
        <h2 class="h3">{{ .Params.roughSleepingResources.heading }}</h2>
        <p>{{ partial "bodyMarkdown.html" .Params.roughSleepingResources.body }}</p>
      </div>
    </div>

    <div class="content">
      <h3 class="h3">{{ .Params.housingFirst.heading }}</h3>
      <p>{{ partial "bodyMarkdown.html" .Params.housingFirst.body }}</p>

      <div class="block block--highlight block--highlight-grey">
        <h2 class="h3">{{ .Params.resources.heading }}</h2>
        <p>{{ partial "bodyMarkdown.html" .Params.resources.body }}</p>
      </div>
    </div>

  </div>

  <div class="container">
    <section>
      <div>
        <h1 class="h1">{{ .Params.altGiving.heading }}</h1>
        <!-- <img class="cia-logo" src="/assets/cia-logo.png" alt="change into action logo"> -->
        <p>{{ partial "bodyMarkdown.html" .Params.altGiving.body }}</p>
      </div>
    </section>
    
    <section>
      <div>
        <div>
          <h3>{{ .Params.highlightTop.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.highlightTop.body }}</p>
        </div>
      </div>
    </section>
    
    <section>
      <div>
        <div>
          <h3>{{ .Params.highlightLeft.heading }}</h3>
          <p>{{ partial "bodyMarkdown.html" .Params.highlightLeft.body }}</p>
        </div>
      </div>
    </section>
  </div>
</div> 

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}